<%- include partials/header.ejs %>
<h1><%= title %></h1>
<h2>List of Family Members</h2>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/matthew">Matthew</a></li>
    <li><a href="/wes">Wes</a></li>
    <li><a href="/christeena">Christeena</a></li>
    <li><a href="/jesse">Jesse</a></li>
</ul>
<%- include partials/footer.ejs %>